@tailwind base;

@tailwind components;

;

body {
  font-size: 62.5%;
  overflow-x: hidden;
}


/* .motionSideBar {
  transition: all 5s;
} */
.opacity1 {
  opacity: 1;
}

.opacity0 {
  opacity: 0;
  transition: all 1s;
}




.monitor {
  display: grid;
  grid-template-columns: .8fr 2fr .35fr .65fr;
  /* background: linear-gradient(to bottom, #000000, #000000 3rem, #fff 3rem, #eee 90%); */
  /* overflow-y: hidden; */
  min-height: 105vh;
  /* position: -webkit-sticky; */
  /* position: sticky;
  top: 0; */
}




/* .monitorSpace{

} */
/* .monitor1 { */
/* grid-column: 0/5; */

/* } */

/* .monitor2 { */

/* grid-column: 7/12; */





/* grid-column: 7/12; */



/* } */
/* .moitor3 {
  width: 50rem;
  background: #427d64;

  position: fixed;
  top: 20px;
  right: 0;
} */

.sideBox {
  background-color: rgb(125, 144, 161);
  height: 95vh;
  width: 100%;
  position: sticky;
  top: 1rem;
  border-radius: 1rem 0 0 1rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;

}

.light-grey {
  background-color: #e1e1e156;


  background-color: #e1e1e18d;

}

.tabCatalog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  border-bottom: #5a5959 1px solid;
  cursor: pointer;
}

.tabCatalog:hover {
  background-color: #82b5da;
}

.tabCatalog:active {
  background-color: #82b5da;
}





.sidebar {
  margin-bottom: 1px;
}

.sidebarTrans1 {
  transform: translateX(0);
  transition: translateX 5s;
}

.sidebarTrans2 {
  transform: translateX(-20%);
  transition: translateX 5s;

}

.bannerSection {
  margin: 0rem auto;
  transform: translateY(-8%);

}

.boxImage {
  max-width: 51.2rem;
  /*  */
  width: 100%;
  /* width: 100%; */

  height: 18rem;


}

.imageBanner {
  display: block;
  width: 100%;
  border-radius: 10px;
  /* height: 100%; */
}

.accordMoveUp {
  /* transform: translateY(-28%); */
  top: 10rem
}











.zIndex {
  z-index: 2000;
}

.footerBar {
  max-width: 512px;
  width: 100vw;
  height: 7vh;

}

/* ///////////////////////////////////////////////// */
.popupListBar {

  max-width: 512px;
  width: 100vw;
  height: 10vh;

}

.popupList {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;


  background-color: #fcfcfc;
  width: 75%;
  height: 5px;
  border-radius: 10px 10px;
  transition: all .3s;
  z-index: 5
}

.popupListUp {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #fcfcfc;

  width: 75%;
  height: 75vh;
  border-radius: 10px 10px;
  transition: all .3s;
  z-index: 5;

}

.overflow {
  overflow-y: auto;
  padding-bottom: 5rem;
}


.popupListText {
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  z-index: 5
}



.overlay {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #00000093;
  opacity: 40%;
  width: 100%;
  height: 100vh;
  border-radius: 10px 10px;
  transition: all .3s;
  z-index: 0;
  transition: all .2s;
}




.ringButton {
  border: .5px #fff solid;
  border-radius: 5px;
}




/* ////////////////////////////////////// */

/* .line{

  border-bottom: #adadad 1px solid;
} */
.itemList {
  text-align: center;
  padding-bottom: 1rem;

}

.gridFavList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border-top: #d4d3d3 1px solid;

}

.starReview {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}



.boxLangBtn {
  position: relative;
  background-color: #000000;
}

.popupLang {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #000000;
  border-radius: 5px;

  width: 100%;
  height: 100%;

  transition: all .3s;
  z-index: -5;

}

.popupLangUp1 {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: translate(-50%, -110%);
  bottom: 0;
  background-color: #000000;
  border-radius: 5px;
  width: 100%;
  height: 120%;
  transition: all .3s;
  z-index: -5;

}

.popupLangUp2 {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: translate(-50%, -220%);
  bottom: 0;
  background-color: #000000;
  border-radius: 5px;
  width: 100%;
  height: 120%;
  transition: all .3s;
  z-index: -5;
}

.popupLangUp3 {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: translate(-50%, -330%);
  bottom: 0;
  background-color: #000000;
  border-radius: 5px;
  width: 100%;
  height: 120%;
  transition: all .3s;
  z-index: -5;
}

.popupLangText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  color: #fcfcfc;
}

/* .popupLangUp1 {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #000000;
  width: 100%;
  height: 8rem;
  border-radius: 10px 10px;
  transition: all .3s;
  z-index: -5;
} */

.svgCommment {
  margin: 2px;
}


.boxLangChoice {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #afafaf;
}



.langCode {
  content: '';
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  color: #afafaf;


}



.dotBar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* gap: .5rem; */

}

.dot {
  width: 10%;
  height: 3px;
  background-color: #cdcdcd;
  border-radius: 2px;
}

.dotActive {
  font-size: 3rem;
  background-color: #5a5959;



}




.footerSpace {
  margin-top: 10rem
}







.footerBarLeft {
  max-width: 512px;
  width: 30vw;
  height: 6vh;
  border-radius: 0 20px 0 0;
}

.footerBarRight {
  max-width: 512px;
  width: 30vw;
  height: 6vh;
  border-radius: 20px 0 0 0;
  right: 0
}

.cssTransition {
  transition: all .3s !important;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


/*  FORM ///////////////////////////////////////////////////////////////// */

/* <div className="mlbox">
<label htmlFor="catagory">Food Name</label>
<div className="inputbox">
  <input value='' type="text" name="firstName" id="firstName" autoComplete="given-name" />
</div>
</div> */





.layoutManu1 {
  display: flex;
  width: 55%;
  flex-direction: column;
  gap: 1rem;
}

.layoutManu2 {
  display: flex;
  width: 45%;
  flex-direction: column;
  gap: 1rem;
}




.smallFlex2 {
  width: 20%;
}

.smallFlex3 {
  width: 20%;

}

.smallFlexEnd {
  justify-content: end;
}







.mlbox {
  width: 100%;
}

.mlbox input {
  width: 100%;
  border: 1px #5a5959 solid;
  border-radius: 3px;
  padding: .5rem 2rem;
}

/* ///////////////////////////////////////////////////////////////// */

.overflow-hidden {
  overflow: hidden
}

.overflow-visible {
  overflow: visible
}


@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto Slab', serif !important;
  }
}