@tailwind base;

@tailwind components;

/* #root{
  background-color: #000;
} */
html {
  overscroll-behavior: none;
  background-color: #000;
  overscroll-behavior-x: none;
}

body {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  overscroll-behavior-x: none;
  height: calc(var(--vh, 1vh) \* 100);
}

body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  /* background-color: #3C3D3F; */
  background: linear-gradient(to bottom, var(--main-background-color) 0, var(--main-background-color) 3.12rem, #3c3d3f 3.12rem);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #3c3d3f00, #cb2822a5, #3c3d3f00);
}

body::-webkit-scrollbar-thumb:hover {
  background: #656566;
}

label {
  cursor: pointer;
}

.monitor {
  display: grid;


  /* grid-template-columns: .8fr 2fr .35fr .65fr; */
  grid-template-columns: 5vw 80vw 15vw;
  /* min-height: 100vh; */
  /* min-width: 100rem; */
}

.monitor1 {
  grid-column: 1/2;
  position: relative;
  z-index: 0;
}

.monitor2 {
  grid-column: 2/3;
  position: relative;

  /* overflow-y: scroll; */
}

.monitor3 {
  grid-column: 3/4;
}

.showMe {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s;
}

.hiddenMe {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  /* z-index: -3000; */
}

.displayFlex {
  display: flex;
}

.displayNone {
  display: none !important;
}

.opacity1 {
  opacity: 1;
}

.opacity0 {
  opacity: 0;
  transition: all 1s;
}

/* grid-column: 7/12; */

/* grid-column: 7/12; */

/* } */
/* .moitor3 {
  width: 50rem;
  background: #427d64;

  position: fixed;
  top: 20px;
  right: 0;
} */

.sideBox {
  background-color: rgb(125, 144, 161);
  height: 95vh;
  width: 100%;
  position: sticky;
  top: 1rem;
  border-radius: 1rem 0 0 1rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}


.tabCatalog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-bottom: #5a5959 1px solid;
  cursor: pointer;
}

.tabCatalog:hover {
  background-color: #82b5da;
}

.tabCatalog:active {
  background-color: #82b5da;
}

.sidebar {
  margin-bottom: 1px;
}

.sidebarTrans1 {
  transform: translateX(0);
  transition: translateX 5s;
}

.sidebarTrans2 {
  transform: translateX(-20%);
  transition: translateX 5s;
}

.zIndex {
  z-index: 2000;
}

.footerBar {
  max-width: 512px;
  width: 100vw;
  height: 7vh;
}

.ringButton {
  border: 0.5px #fff solid;
  border-radius: 5px;
}

/* ////////////////////////////////////// */

/* .line{

  border-bottom: #adadad 1px solid;
} */

/* .dotBar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;


} */

/* .dot {
  width: 10%;
  height: 3px;
  background-color: #cdcdcd;
  border-radius: 2px;
}

.dotActive {
  font-size: 3rem;
  background-color: #5a5959;



} */

.footerSpace {
  margin-top: 10rem;
}

.footerBarLeft {
  max-width: 512px;
  width: 30vw;
  height: 6vh;
  border-radius: 0 20px 0 0;
}

.footerBarRight {
  max-width: 512px;
  width: 30vw;
  height: 6vh;
  border-radius: 20px 0 0 0;
  right: 0;
}

.cssTransition {
  transition: all 0.3s !important;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/*  FORM ///////////////////////////////////////////////////////////////// */

/* <div className="mlbox">
<label htmlFor="catagory">Food Name</label>
<div className="inputbox">
  <input value='' type="text" name="firstName" id="firstName" autoComplete="given-name" />
</div>
</div> */


.smallFlex2 {
  width: 20%;
}

.smallFlex3 {
  width: 20%;
}

.smallFlexEnd {
  justify-content: end;
}

.mlbox {
  width: 100%;
}

.mlbox input {
  width: 100%;
  border: 1px #595a59 solid;
  border-radius: 3px;
  padding: 0.5rem 2rem;
}

/* ///////////////////////////////////////////////////////////////// */

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.x {
  display: none !important;
}



.swal2-toast-shown .swal2-container{

  width: max-content !important;
  white-space: nowrap;
}

.swal2-title{
  font-size: 1.1rem !important;
  text-align: center !important;
  font-weight: 500
}
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(to right top, var(--button-background-color-a), var(--button-background-color-linear-a));

  }
}



/* ////////////////////////////// */
