.accTab {
  position: relative;
}

.heartFavor2Box {
  position: absolute;
  top: .8rem;
  right: .4rem;
  z-index: 100;
  height: 99%;
  /* background-color: #13cac7; */
  display: flex;
  justify-content: end;
  width: 3rem;
}

/* .heartFavorBtn {} */

.heartFavor1Box {
  display: flex;
  justify-content: end;
  padding-right: 1.5rem;
}