/* bannerSectionFormC
boxImageFormC
bannerLoadingC
iconLoadingBannerC
barOneC
barTwoC
imageBannerFormC
dotFormC
dotActiveFormC
dotFormC */


.bannerSectionC {

}


.bannerWrapperC {


}

.bannerSectionFormC {


}

.boxImageFormC {



}

.imageBannerFormC {
  display: block;
  border-radius: 5px;
  box-shadow: .3rem .3rem .4rem .1rem rgba(0, 0, 0, 0.10);
}

.imageBannerC1 {



}

.accordMoveUp {
  /* transform: translateY(-28%); */

}

.dotBarC {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* gap: .5rem; */

}

.dotC {
  width: 10%;
  height: 3px;
  background-color: #cdcdcd;
  border-radius: 2px;
}

.dotActiveC {
  font-size: 3rem;
  background-color: #5a5959;



}

.rtds-single-slide-styles {
  height: 32vh !important;

}

.rtds-single-slide-styles img {
  width: 27rem !important;
  height: 15rem !important;
}