/* bannerSectionFormC
boxImageFormC
bannerLoadingC
iconLoadingBannerC
barOneC
barTwoC
imageBannerFormC
dotFormC
dotActiveFormC
dotFormC */


.bannerSectionC {
  font-size: 62.5%;

}

/* 
.bannerWrapperC {}

.bannerSectionFormC {}

.boxImageFormC {} */

.imageBannerFormC {

  display: block;
  border-radius: 5px;
  box-shadow: .2rem .2rem .4rem .1rem rgba(0, 0, 0, 0.10);

}

/* .imageBannerC1 {} */

/* .accordMoveUp { */
/* transform: translateY(-28%); */

/* } */

.dotBarFlex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* gap: -2rem; */
  padding-top: 0rem;
  padding-bottom:.7rem;

}

.dotC {
  position: relative;
  width: 1.5rem;
  height: .5rem;
  /* background-color: #fffdfd; */
  border-radius: 2px;
  font-size: 0;
  /* border: #5a5959 1px solid; */
  margin-left: -.5rem;

}

.dotC::before {
  position: absolute;
  display: block;
  content: '';
  width: .5rem;
  height: .5rem;
  left: 0;
  top: 0;
  background-color: #ddd;
  border-radius: 50%;

}

.dotC::after {
  position: absolute;
  display: block;

  content: '';
  width: .5rem;
  height: .5rem;
  right: 0;
  background-color: #ddd;
  top: 0;
  border-radius: 50%;
}

.dotActiveC {
  position: relative;
  width: 1.2rem;
  height: .5rem;
  background-color: #aaa;
  border-radius: 2px;
  font-size: 0;
  border-radius: 1rem;
  margin-left: -.6rem;
  z-index: 10;
}




.rtds-single-slide-styles {
  height: 32vh !important;

}

.rtds-single-slide-styles div {
  padding: 0 .5rem !important
}

.rtds-single-slide-styles img {
  width: 27rem !important;
  height: 15rem !important;
}