.mobileViewport {
  width: 100vw;
  /* effect to address bar */
  height: 100%;

  position: relative;
  overflow-x: hidden;
  overscroll-behavior: none;
  overflow-y: scroll;
}

.mobileViewport::-webkit-scrollbar {
  display: none;
}

.bannerLoadingMaain {
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  height: 100vh;
  width: 32rem;
  z-index: 9999;
}

.navBarC {
  top: 0;
  z-index: 100;
  position: -webkit-sticky !important;
  position: sticky !important;
  /* position: -webkit-fixed; */
  /* position: fixed !important; */
}

.navFlexLogoandName {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  padding:.1rem .5rem
}

/* relative flex items-center */
.navSlit1 {
  width: 40%;
  white-space: nowrap;
}

.navSlit2 {
  width: 60%;
  white-space: nowrap;
}

.navNameAndFilter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000;
  gap: .2rem;
}

.menuNameNavBox {
  position: relative;
  width: 100%;
}

.navMenuNameText {
  font-size: 1.1rem;
  font-weight: 600;
  color: inherit;
}

.navMenuNameText-top {
  z-index: 1000;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
}

.navMenuNameText-Ab {
  position: absolute;
  top: 3.2rem;
  right: 0;
  transform: translateX(0.5rem);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  z-index: -10;
  cursor: pointer;
  align-items: flex-end;
}

.navMenuNameText-tab {

  border-radius: 0.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3rem 0.5rem;
  width: max-content;

  z-index: -10;
}

.navMenuNameText-move {
  transform: translate(0.5rem, -120%);

  transition: all 0.3s;
}

/* .navMenuNameText-Ab2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(10rem);
  background-color: #000;
} */

.flexNavMenuName {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2rem;
  flex-grow: 1;
}

.overlayForNav {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.filterBtn {
  width: 3rem;
  height: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.filterBtn-main {
  z-index: 1000;
}

.filterBtn-Ab {
  position: absolute;
  top: 3.2rem;
  right: 0;
  transform: translateX(0rem);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  z-index: -100;
  cursor: pointer;
  align-items: flex-end;
}

.filterBtn-move {
  transform: translate(0rem, -120%);
  z-index: -100;
  transition: all 0.3s;
}

.navFilterNameText {
  font-size: 0.8rem;

  color: inherit;
}

.filterBtn-tab {
  border-radius: 0.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0.5rem;
  width: max-content;

  z-index: -10;
}

.filterBtn-tab img {
  margin-right: 3px;
}

.test {
  height: 50vh;
  background-color: rgba(121, 121, 121, 0.24);
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.extraT {
  font-family: 'Roboto Slab', serif;
}
