.sideBarSectionC {
  font-size: 62.5%;
  position: fixed;
  top: 12rem;
  left: 0.2rem;
  z-index: 500;
}

.sideBarSectiontest {
  position: fixed;
  top: 0;
  left: 0.2rem;
  z-index: 500;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleBarClient {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  overflow: visible;
}

.circle-iconButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  width: 3rem;
  height: 3rem;

  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

/* .circle_iconSpan {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  background-color: inherit;
  border-radius: inherit;
  border-width: 1px;
  border-style: inherit;
  border-color: inherit;
} */
.circle-iconButton::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 90%;
  height: 90%;
  background-color: inherit;
  border-radius: inherit;
  border-style: inherit;
  border-width: 1px !important;
  border-color: inherit;
}
.circle-iconSize {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  /* width: 3rem;
  height: 3rem; */
  overflow: visible;
  z-index: 5;
}

.circle-iconButton-Active {
  transform: scale(1.2) translate(3px, -0.5px);
  transition: all 0.3s;
  box-shadow: -0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}
.extraIcon-client {
  width: 3rem;
  height: 3rem;
  padding: 0;

  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
}
