/* font-family: 'Lato', sans-serif;
var --font-primary: "Lato",Helvetica,Arial,sans-serif
html {
 */
/* var(--icon-active) */
.Theme_1 {
  --app-background-color: #ddd;
  --decor-background-color: #000;

  --main-background-color: #cb2722;
  --main-background-color-linear: #8e0404ab;

  --navbar-background-color: #3c3d3f;

  --button-background-color: #b71f1f;
  --button-background-color-linear: #f002025e;
  --button-shadow: rgba(0, 0, 0, 0.35);

  --icon-active-stoke: #fff;

  --cat-background-color: #3c3d3f;
}

:root {
  --app-background-color: #ddd;
  --decor-background-color: #fff;

  --main-background-color: #fff;
  --main-background-color-linear: #8e0404ab;

  --navbar-background-color: #fff;

  --button-background-color: #4d7ce7;
  --button-background-color-linear: #8d6ce2;
  --button-shadow: #391c738f;
  --icon-active-stoke: #fff;

  --cat-background-color: transparent;
  --cat-font-color: #000;

  --button-background-color-a: rgba(77, 123, 231, 0.1);
  --button-background-color-linear-a: rgba(147, 108, 226, 0.1);
}

.mainAppMonitor {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;

}

.topbarWin {
  background-color: var(--navbar-background-color);
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0.3rem 0.3rem 0 0;
  border: var(--navbar-background-color) solid 1px;
  border-bottom: var(--main-background-color) solid 2px;
  padding: 0.1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #444;
}
.newBtnRed {
  /* background: linear-gradient(to right top, #d82828, #8e0404ab); */
  background: linear-gradient(to right top, var(--button-background-color), var(--button-background-color-linear));
  color: #fff;
}
/* .mainBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: stretch;
  gap: 1rem;
  font-size: 0.9rem;
  padding: 0.6rem 0.5rem;

  color: #fff;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  min-width: 8rem;
  cursor: pointer;
} */

.mainBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  padding: 0.6rem 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.35);
  min-width: 8rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.mainBtn:hover {
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  transition: all 0.2s;
}

.mainBtn:active {
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: all 0.2s;
}

.saveBtnColor {
  background: linear-gradient(to right top, var(--button-background-color), var(--button-background-color-linear));
  color: #fff;
}

.cancelBtnColor {
  background-color: var(--navbar-background-color);
  color: #8d6ce2;
}

.boxCancel {
  display: flex;
  border-radius: 0.2rem;
  border: #8d6ce2 1px solid;
}

.boxCancel:hover {
  background-color: var(--main-background-color);
}

.boxCancel:active {
  background-color: #cb282293;
}

.closeIconHover svg:hover {
  stroke: #fff;
}

.smallMainBtn {
  font-size: 0.8rem;
  padding: 0.4rem 0.3rem;
  min-width: 7rem;
  border: #8d6ce2 1.5px solid;
}

/* .smallMainBtn:hover {
  border: #8d6ce2 1.5px solid;  
} */

.borderBtnRed {
  border: #eee 2px solid;
}

/* //////////////////////////////////////// */
.switch {
  position: relative;
  display: inline-block;
  width: 2.8rem;
  height: 1.42rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* /////////////////////////////////////// */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* border: #aaa 1px solid; */

  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.1);
  background-color: #f5cac64c;
}

.slider:before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: 'OFF';
  font-size: 0.6rem;
  color: #fff;
  text-align: center;

  height: 1.18rem;
  width: 1.8rem;
  left: 1.5px;
  bottom: 0.75px;
  background-color: #999;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 0.8rem;
}

input:checked + .slider {
  background-color: #fff;
}

input:checked + .slider:before {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  color: #fff;
  text-align: center;
  content: 'ON';
  background-color: #2c64e7;
}

/* input:focus+.slider { */
/* box-shadow: 0 0 1px var(--main-background-color); */
/* } */

input:checked + .slider:before {
  -webkit-transform: translateX(0.7rem);
  -ms-transform: translateX(0.7rem);
  transform: translateX(0.7rem);
}
/* ///////////////////////////////////////////////////// */
.opcaityTime {
  opacity: 0.4;
  cursor: default !important;
}

.greaySwitch {
  border: #aaa 1px solid !important;
}

.greaySwitch:checked + .slider {
  border: #aaa 1px solid !important;
}

.greaySwitch:checked + .slider:before {
  background-color: #aaa !important;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ///////////////////////////////// */

/* /////////////////////////////////////// */

input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;

  background-color: #fff;

  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #777;
  border-radius: 50%;
  transform: translateY(-0.075em);
  cursor: pointer;
}

input[type='radio'] {
  display: grid;

  place-content: center;
}

input[type='radio']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;

  background-color: #cc1600;
}

input[type='radio']:checked::before {
  transform: scale(1);
}

/* /////////////////////////////////
 */

/* //////////////////////////////////////// */

.mainHeaderFont {
  font-size: 1.1rem;
  font-weight: 600;
  color: #444;
}

.hiddenAnimate {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, transform 0.1s 0.2s;
  transform: scale(0);
}

.showAnimate {
  opacity: 1;
  visibility: visible;
  transition: transform 0s, opacity 0.2s 0.1s;
  transform: scale(1);
}
/* /////////////////////////////////////////////////// */
