.bodd {
  /* width: 3rem; */
  display: flex;
  justify-content: center;
  padding-left: 50px;
  transform: translateX(50%);
  overflow: hidden;
}
.tes444a {
  width: 500px;
}

.MB_timePickerWinControl {
  padding: 1rem;
}
.MB_timePickerSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.MB_timePickerCard1,
.MB_timePickerCard2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.MB_timePikerGrid1 {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  /* border: #000 1px solid; */
  align-items: center;
  background-color: #dde7fd;
  padding: 0.7rem 0.5rem;
  gap: 1.2rem;
}

.MB_timePikerGrid2 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  border: #000 1px solid;
  align-items: center;

  padding: 0.7rem 0.5rem;
  gap: 1.2rem;
}
.MB_flexHeaderTime {
  display: flex;
  align-items: center;
  width: 8rem;
  gap: 0.8rem;
  padding: 0.5rem 0.5rem;
  /* border: #444 solid 1px; */
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #dde7fd;
}

.MB_timePikerRow {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.flex_start {
  justify-content: start;
}
.MB_Time_flexBox {
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MB_titleTime {
  color: #000;
  text-align: center;
  font-weight: 500;
}
.MB_select {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/* .MB_timeInput {
} */
.timePikerContainer {
  width: 100%;
}

.oclock {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  font-weight: 400;
  color: #999;
  padding-top: 0.4rem;
}
.MB_inputTime {
  border: 0.5px solid #777;
  border-radius: 0.4rem;
  /* width: max-content; */
  width: 100%;
  /* box-shadow: .1rem .1rem 2rem rgba(0, 0, 0, 0.10); */
  background-color: #dde6fb;
  font-weight: 500;
  color: #444;
}

.MB_inputTime select {
  border-radius: 0.4rem;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  outline: none;
  appearance: none;
}

.MB_flexTime {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.MB_px {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

/* ////////////////////////////////// */

.MB_TimeRadioBtn input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;

  background-color: #fff;

  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.5rem solid #fff;
  border-radius: 50%;
  transform: translateY(0em);
  cursor: pointer;
}

.MB_TimeRadioBtn input[type='radio'] {
  display: grid;

  place-content: center;
}

.MB_TimeRadioBtn input[type='radio']::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  border: 0.1rem solid #fff;

  background-color: #2c64e7;
}

.MB_TimeRadioBtn input[type='radio']:checked::before {
  transform: scale(1);
}

.MB_ConfirmTime_Sect {
  padding: 1rem;
  background-color: #2c64e7;
}

.MB_timePikerGrid-confirm {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  border-radius: 0.2rem;
  padding: 1rem;
  min-width: min-content;
  justify-items: center;
  align-items: center;
  /* display: none; */
}
/* /////////////////////////////////////////////////////////// */
:root {
  --paddingTime: 1rem 1rem;
}

.mainOnOff {
  grid-area: 1/1/2/5;
  padding: var(--paddingTime);
  justify-self: flex-end;
  font-size: 1.2rem;
}

.flexRowTime {
  display: flex;
  gap: 1rem;
}

.nameTimepicker {
  display: flex;
  flex-direction: column;
}

.allDayTimepicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.selectDayTimepicker {
  display: flex;
  flex-direction: column;
}

.textTo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.setTimeMargin {
  margin-top: 3rem;
}

select {
  cursor: pointer;
}

select option {
  background-color: #eee;
}

select::-webkit-scrollbar {
  width: 0.8rem;
}

select::-webkit-scrollbar-track {
  /* background-color: #3C3D3F; */
  background-color: cb282293;
}

select::-webkit-scrollbar-thumb {
  background-color: none;
}

select::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-background-color);
}

/* //////////////////////////////////////// */

.timePikerResultBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.timePikerResult {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.timePikerResult-title {
  font-size: 1.3rem;
  font-weight: 700;
}
.timePikerResultBox-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnInBox {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: flex-end;
}

/* //=//START LANG /////////////////////////////////////////////// */

.MB_windowFloatLangBorder {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.MB_titletopLang {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-radius: 0.3rem 0.3rem 0 0; */
  /* border: #aaa solid 1px; */
  border-bottom: none;
  padding: 0.5rem;
  padding-top: 0.1rem;

  font-size: 1rem;
  font-weight: 700;
  color: #000;
}
.bd_Top {
  border-top: #ddd solid 1px;
  padding-top: 0.8rem;
}
/* background-color: #cc1600;

background-color: #f5cac64c;
background-color: #fae8e6; */
.MB_langSetMenuAb {
  background-color: #dde7fd;
  /* background: linear-gradient(to right top, #cfdeff 60%, #ebebf8 90%,#cfdeff); */

  width: 100%;
  /* height: 100%; */
  display: flex;
  border-radius: 1rem;
  padding: 1.2rem 0.1rem;
  color: #000;
  border: #333 0.5px solid;
}

.MB_langStyle {
  position: relative;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.MB_langStyle_1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.MB_ex25 {
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  background-color: #fff;
  width: 7.5rem;
  height: 4rem;
  border-radius: 1rem;
}

.MB_symStyle-text {
  font-size: 0.8rem;
  font-weight: 500;
}

.MB_radioLang {
  width: 0.9rem;
}
.MB_radioLang_span {
  font-size: 0.9rem;
  font-weight: 500;
}

/* ////////////////////////////////// */

.MB_LangRadioBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem;
  background-color: #cfdeff;
  border-radius: 1.5rem;
  border: 0.1rem solid #fff;
}
.exPdR {
  padding-right: 1rem;
}
.MB_LangRadioBtn input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;

  background-color: #fff;

  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  transform: translateY(-0.075em);
  cursor: pointer;
}

.MB_LangRadioBtn input[type='radio'] {
  display: grid;

  place-content: center;
}

.MB_LangRadioBtn input[type='radio']::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  /* border: 0.1rem solid #fff; */

  background-color: #2c64e7;
}

.MB_LangRadioBtn input[type='radio']:checked::before {
  transform: scale(1);
}

.MB_inputTextLang {
  border: #333 0.5px solid;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  outline: none;
  font-weight: 500;
}
.MB_opcaityTime {
  opacity: 0.6;

  cursor: default !important;
}

/* /////////////////////////////////////////////////////////// */
/* //=/ SWITCH LANG//////////////////////////////////////////////// ////////////////////////////// */
.switchLang {
  position: relative;
  display: inline-block;
  width: 4.58rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switchLang input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderLang {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* border: #fff 1rem solid; */
  background-color: #fff;

  -webkit-transition: 0.4s;
  transition: 0.3s;
  border-radius: 1rem;
  /* box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1)inset; */
}

.sliderLang:before {
  position: absolute;
  content: 'BEFORE';
  font-size: 0.6rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  height: 1.6rem;
  width: 2.8rem;
  left: 1.2px;
  bottom: 1.5px;
  background-color: #2c64e7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + .sliderLang {
  background-color: #cfdeff;
}
input:checked + .sliderLang1 {
  background-color: #ffffff !important;
}
.forOFLang2 {
  background-color: #dededf;
  width: 4rem;
}

input:checked + .sliderLang:before {
  font-size: 0.6rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  content: 'AFTER';
  background-color: #2c64e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + .sliderLang:before {
  -webkit-transform: translateX(1.6rem);
  -ms-transform: translateX(1.6rem);
  transform: translateX(1.6rem);
}

/* ////////////////////////// */
/* forOFLang2 */

.forOFLang2:before {
  content: 'OFF';
  font-size: 0.8rem;
  font-weight: 700;
  color: #fff;

  background-color: #777;
}
input:checked + .forOFLang2:before {
  font-size: 0.8rem;
  content: 'ON';
  font-weight: 700;
}
input:checked + .forOFLang2:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}
/* //=////////=////////////////////////////////////////// */

/* // NO USE */

.LangSet {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}

.langName {
  display: flex;
  gap: 1rem;
  width: 90%;
  font-size: 1.1rem;
  font-weight: 600;
  color: #444;
}

.langStyle {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* .symbolAb{
  position: absolute;
  top: 0;right: 0;
  transform: translate(-5%,-55%);
  background-color: #fff;

} */

/* .boxSymStyle { */
/* display: flex;
  gap:2rem */

/* } */

.boxSymStyle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.flexStyleBeAf {
  display: flex;

  align-items: center;
  gap: 1rem;
}

.labelLangRadio {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.containerSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.formContainerLang {
  /* transform: translateY(-3rem); */
  transform: translateY(-4.5rem);
  display: flex;
  gap: 2.5%;
  justify-content: center;
  width: 100%;
  padding-right: 2.5%;
  min-height: 92vh;
}

.lmed {
  width: 80%;
}

.lsmall {
  width: 35%;
}

.boxBtnLang {
  position: absolute;
  display: flex;
  gap: 1rem;
  right: 0;
  bottom: -5rem;
}
.RadioHidden {
  position: relative;
}
.RadioHidden input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.tabChhoseIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -76%);
  width: 4rem;
  height: 4rem;

  background-color: #cfdeff;

  border-radius: 0.2rem;
  z-index: -1;
}
.text12x {
  font-size: 0.9rem;
  font-weight: 500;
  color: #555;
}
.MB_IconTheme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
/* .MB_IconTheme:hover {
  transform: scale(1.1);
  transition: all 0.2s;
} */

/* //=//END NO USE//////////=///=///=///=///=///=///=//////////////////////////////////////// */
/* - area
- container postion size
- inner container make padding */

.mobile_ThemeFunction {
  font-family: 'Roboto', serif !important;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}
.MB_themeWrapper {
  position: fixed;
  top: 0rem;
  right: 0rem;
  width: 100vw;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.MB_themeWrapper_Ac {
  justify-content: flex-start;
  transition: all 0.3s;
}

.MB_themeContainer {
  position: relative;
  width: 70%;
  height: 65vh;

  background-color: #fff;
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 100;
  pointer-events: all;
  border: #ccc solid 1px;
}
.MB_themeContainer_Acc {
  border-radius: 0 0.5rem 0.5rem 0;
}
.MB_themeContainerColor {
  position: fixed;
  bottom: 13rem;
  right: 0;
  width: 80%;
  height: 25rem;
  transform: translateY(35%);
  background-color: #fff;
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 100;
  pointer-events: all;
  border: #ccc solid 1px;
}

.MB_themeRow_reverse {
  text-align: end;
}

.MB_themeMenuList {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 2.5rem;
  gap: 0.5rem;
  background-color: rgb(243, 243, 243);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.MB_menuListBtn {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MB_menuListBtn img {
  height: 2.3rem;
}
.MB_Theme_tabChoose {
  background-color: #ddddddad;
  border-bottom: #96a1bf 2px solid;
}

.MB_themeLayout_Grid {
  display: grid;
  grid-template-rows: 1fr 3rem;
  /* gap: 0.5rem; */
  width: 100%;
  height: 100%;
}
.MB_themeLayout_Full {
  grid-template-rows: 1fr !important;
}

.MB_flexBTN_Between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MB_flexBTN_Around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3f3f3;
  border-top: 0.5px #aaa solid;
}

.MB_Container_Sroll {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
}
.ThemePallete_Padding {
  padding: 0.5rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.MB_themeNavFootBar {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-bottom: 3rem;
  padding-top: 4rem;
}

.MB_themeNavFootBar_ForIcon {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.MB_themeRow {
  display: flex;
  width: 100%;
  gap: 0.7rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

.MB_themeGrid {
  width: 100%;
  display: grid;
  gap: 0.2rem;
  /* padding-left: 0.7rem; */
  align-items: center;
  justify-items: flex-start;
  padding-right: 0rem;
  grid-template-columns: 6rem 1fr;
}
.MB_themeGrid_end {
  justify-items: flex-end;
  grid-template-columns: 1fr 3rem;
}
.z_ColorPallete {
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.MB_colorPickerCont {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  padding-right: 0rem;
}

.MB_colorPickerScoll {
  width: 100%;

  overflow-y: scroll;
  height: 100%;
}
.MB_colorPickerTable {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap);
  /* overflow-x: scroll;
  overflow-y: scroll; */

  /* height: 90%; */
  padding: 0.5rem;
  background-color: #fff;
}

.MB_colorPickerGridRow {
  flex-wrap: wrap;
  display: flex;

  gap: var(--gap);
  /* flex-wrap: nowrap; */
}
:root {
  --MB_size: 2.5rem;
  --MB_gap: 0.2rem;
}
.MB_colorPickerItem {
  width: var(--MB_size);
  height: var(--MB_size);
  /* padding: .1rem; */
  /* background-color: aquamarine; */
  /* border: 1px solid red; */
  border-radius: 0.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.MB_colorPickerItem:hover {
  transform: scale(1.15);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.MB_colorPickerScoll::-webkit-scrollbar {
  width: 0.2rem;
}

.MB_colorPickerScoll::-webkit-scrollbar-track {
  /* background-color: #3C3D3F; */
  background: #fff;
}

.MB_colorPickerScoll::-webkit-scrollbar-thumb {
  background: #656566;
  border-radius: 1rem;
}

.MB_colorPickerScoll::-webkit-scrollbar-thumb:hover {
  background: #656566;
  border-radius: 1rem;
}

.MB_setThemeGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.Mb_setFlexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}
.MB_flexColAcc {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}
.MB_setGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.MB_TC_name {
  width: 100%;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 0.5px #444 solid;
}
.MB_TC_small {
  color: #444;
  font-size: 0.9rem;
  font-weight: 500;
}
.MB_presentInput {
  width: 100%;
  height: 2rem;
  outline: none;
  border: #aaa 0.5px solid;
  color: #000;
  border-radius: 1rem;
  padding: 0.2rem 0.8rem;
  background-color: #eee;
}

.MB_labelFontR {
  height: 2rem;
  /* outline: #c00f0f; */
  border: #aaa 0.5px solid;
  color: #444;
  border-radius: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.2rem 2rem;
  background-color: #eee;
  width: 90%;
}
.MB_labelFontR:focus,
.MB_presentInput:focus {
  outline: solid #444 1px;
}
.text_selectCenter {
  text-align-last: center;
}
.text_width80 {
  width: 80%;
}
.text_widthRem {
  width: 9rem;
}
.MB_labelFontR option {
  font-size: 0.9rem;
  font-weight: 500;
  color: #444;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}

.MB_tray_position {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 4.5rem;
}
.colorBoxInput {
  position: relative;
  display: flex;
  width: 280px;
  gap: 1rem;
  font-size: 1.1rem;
  font-weight:400;
  justify-content: center;
  align-items: center;
}

.MB_tray_input {
  border: 1px solid #999;
  padding: 0.2rem;
  border-radius: 0.5rem;
  width: 6rem;
  text-align: center;
  outline: none;
  color: #666;
}

.MB_tray_input_QR {
  font-size: 1rem;
  padding: 0.3rem;
  width: 100px;
}
.MB_tray_position .react-colorful {
  height: 240px;
  width: 250px;
}
.MB_tray_position .react-colorful__hue {
  height: 40px;
  border-radius: 0 0 4px 4px;
}
.MB_tray_position .react-colorful__hue-pointer {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.colorBoxTray {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 0.5px solid #444;
}
.okColorBtn {
  background-color: #6090ff;
  height: 2.2rem !important;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  border-radius: 1rem;
  font-weight: 500;
  border: 0.5px #333 solid;
  width: 5rem;
  color: #fff;
  transform: translateX(1rem);
}
.cancleColorBtn {
  border: 0.5px #333 solid;
  width: 2rem;
  height: 2rem;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: flex-end;
  border-radius: 50%;
}
.marginR {
  margin-right: 1rem;
}
.grisAlignSelf {
  align-self: center;
  justify-self: flex-end;
}
.okColorBtn:hover {
  /* transform: scale(1.02); */
  background-color: #9bb0df;
}
.cancleColorBtn:hover {
  transform: scale(1.1);
  background-color: #d2d2d2;
}
.chrome-picker {
  width: 90% !important;
}
.flexbox-fix {
  padding-bottom: 0.5rem;
}
.flexbox-fix input {
  font-family: 'Roboto', serif !important;
  font-weight: 500;
  font-size: 1rem !important;
  border-radius: 0.5rem !important;
  color: #444;
  border: 0.5px #444 solid !important;
  outline: 0.5px #444 solid !important ;
}

.flexbox-fix label {
  font-family: 'Roboto', serif !important;
  font-weight: 400;
  font-size: 0.9rem !important;
  color: #aaa;
}
.flexbox-fix svg {
  margin-left: 0.5rem !important;
  transform: translateY(-0.6rem) !important;
}
.hue-horizontal {
  min-height: 1.4rem;
}

/* /// ONOOF//////////////////////////// */
/* #1360a4 */
/* #f3f3f3 */
/* #7189BF */
.MB_InScroll_fullNew {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 5.5rem;
  height: 100vh;
  overflow-y: scroll;
}
.paddingBottom_5 {
  padding-top: 5rem;
  padding-bottom: 7rem;
}
.BlueLinear {
  /* background: linear-gradient(0deg,#fff 0, #fff 30%, #22c5a1, #85f4aa); */
  /* background-color: #1360a4; */
  background: linear-gradient(0deg, #fff 0, #fff 30%, #f3f3f3, #cfdeff);
  background: linear-gradient(0deg, #cfdeff, #cfdeff);
}

.MB_Make_PadingTime {
  padding: 1.5rem;
  padding-top: 6rem;
  padding-bottom: 8rem;
}
.MB_Make_Iconpicker {

  padding-bottom: 8rem;
}
.gapG15 {
  margin-bottom: 1.5rem;
}
.scrollY {
  overflow-y: scroll;
}
.MB_OnOffContainer {
  width: 100%;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.colorof_title {
  background-color: #f6f6f6 !important;
}
.MB_OF_Flex_Col {
  width: 100%;
  display: flex;
  flex-direction: column;

  /* background-color: #7189BF; */
  border: 0.5px solid #464545;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

.MB_OF_Flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}
.MB_OF_Flex_ex {
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}
.MB_BorderBt {
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.MB_OF_text {
  font-weight: 500;
  color: #000;
  font-size: 1rem;
}
.paddingleft_OF {
  padding-left: 0.5rem;
  color: #444;
  font-weight: 500;
  font-size: 0.95rem;
}
/* ///////////////////////// NO USE */

.themeNavBar {
  width: 100%;
  background-color: #ae79ba;
}

/* //- */

.TC-name {
  color: #333;
  border-bottom: 0.5px #333 solid;
}
.setThemeFlex {
  display: flex;
  gap: 2rem;
}
.mg-t-1 {
  margin-top: 1rem;
}
.presentInput {
  width: 50%;
  height: 2rem;
  outline: none;
  border: #aaa 1px solid;
  color: #777;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
}

.labelColor {
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.color_PBig {
  width: 2.5rem;
  height: 2.5rem;
}

.color_PBig-ActiveAAAA {
  box-shadow: 0rem 0.2rem 2rem 0rem rgba(0, 0, 0, 0.4);
}
.nameFontStyle1111 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.nameFontStyle_Client111 {
  font-family: 'Merriweather', serif;
  font-size: 700;
  font-weight: 700;
  color: #000;
}
.navBarColor_Client111 {
  background-color: #4d3e3e;
}
.navBarFontColor_Client111 {
  color: #fff;
}
.navBarLogoColor_Client111 {
  fill: #fff;
}

.bodyBgColor_Client {
  background-color: #4d3e3e;
}

.bodyFontFamily_Client {
  font-family: 'Merriweather', serif;
}

.bodyFonttColor_Client {
  color: #fff;
}

.circle-iconButton-user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.circle-iconSize-user {
  display: block;
  width: 2.7rem;
  height: 2.7rem;
  overflow: visible;
}

.extraIcon-user {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  box-shadow: none !important;
  border: 0.5px solid #444 !important;
  background-color: transparent !important;
  text-align: center;
}

.borderPickC {
  border: #777 solid 0.5px;
}
/* .circle-iconButton-user:hover {
  transform: scale(1.2) translate(3px, -0.5px);


  transition: all 0.3s;
  box-shadow: -0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
} */

.labelFlexCol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.labelFlexCol-Acc {
  display: grid;
  grid-template-rows: 80% 20%;
  /* align-items: stretch; */
  gap: 0.5rem;
  align-items: center;
}

.grid-self-ct {
  justify-self: center;
}
.PS_CircleAcc {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #4396b4;
}

.labelFlexCol {
  height: 5rem;
}
.PSextraS {
  width: 3.2rem;
  height: 3.2rem;
}
.category-PS-BarLine {
  position: relative;
  height: 2.5rem;
  padding: 0.2rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.category-PS-CircleSimple {
  position: relative;
  right: 0;
  bottom: 1rem;
  padding: 0.2rem 1.2rem;
  transition: all 0.3s;
  z-index: 1;
  background-color: transparent !important;
}
