.bannerSection {
  position: fixed;
  display: flex;
  width: 75vw;
  height: 100vh;
  z-index: 0;

}



.bannerWrapper {
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 55%;

  height: 60vh;
  position: fixed;
  top: 10vh;
  left: 22%;

  gap: 2rem;

}


.bannerSectionForm {
  width: 100%;
  /* flex-grow: 1; */
  /* transform: translateY(-10%); */
  /* transform: translateX(20%%); */
  /* font-size: 62.5%; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */

  /* transform: translate(-50%, -50%); */
  /* transform-origin: center; */
  /* justify-self: stretch; */
  /* height: 100%; */
  /* min-height: 50rem; */

}

/* .bannerBoxLoading {
  width: 100%; 
  height: 100vh;
 min-height: 50rem;
} */


.boxImageForm {
  /* max-width: 51.2rem; */
  max-width: 51.2rem;

  width: 110%;
  /* width: 100%; */

  /* height: 18rem; */
  transform: scale(1.5);
}

.imageBannerForm {
  display: flex;
  /* border-radius: 5px; */
  box-shadow: .3rem .3rem .4rem .1rem rgba(0, 0, 0, 0.30);
}

/* .accordMoveUpForm { */
/* transform: translateY(-28%); */
/* top: 10rem */
/* } */
/* .moveBardot{
  transform: translateY(-20%);
} */

.dotBarForm {
  display: flex;
  margin: 1rem auto;

  width: 40%;
  justify-content: center;
  align-items: center;
  gap: .4rem;
  transform: translateY(-20%);
}

.dotForm {
  position: relative;
  width: 10%;
  height: .2rem;
  background-color: #cdcdcd;
  border-radius: 2px;
  font-size: .8rem;
  color: #aaa;
  display: flex;
  justify-content: center;
  font-weight: 500;
  /* transform: scale(.7) */
}
.dotForm::before {
  position: absolute;
  content: '';
  left: 0;
  top: -.5rem;
  height: 3rem;
  width: 100%;

}
.dotActiveForm {
  position: relative;

  font-size: 1.3rem;
  background-color: #5a5959;
  color: #777;

}

.dotActiveForm::before {
  position: absolute;
  content: '';
  left: 0;
  top: .3rem;
  border: #5a5959 solid 1px;
  border-radius: .2rem;
  height: 1.5rem;
  width: 100%;

}

.inputPhotoBanner {
  width: 20rem;
  height: 20rem;
}


/* //////////////////////// */

.btnBannerBox {
  width: 100vw;
  display: flex;
  justify-content: center;

}

.addBtn {
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;
  height: 4rem;
  background-color: #cb2722;
  color: #fff;
  box-shadow: .1rem .1rem .4rem rgba(0, 0, 0, 0.30);
  /* position: absolute; */
  /* top: 85vh; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  cursor: pointer;
  border-radius: 3px;
  /* width: 20%; */
}

.addBtn:hover {

  box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.30);
  transform: scale(1.02);
  transition: all .2s;
}

.addBtn:active {

  box-shadow: .1rem .1rem .4rem rgba(0, 0, 0, 0.30);
  transform: scale(1);
  transition: all .2s;
}

.trashBtn {
  z-index: 5000;
  position: absolute;
  bottom: 20%;
  right: 10%;
}

/* SAVE BUTTON */

.saveAndCancelBox {
  display: flex;
  gap: 1rem;
  position: absolute;
  transform: translateX(100%);
  bottom: 0;
  right: 0%;
}

.saveBnerBtn {

  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;
  height: 4rem;
  background-color: #cb2722;
  color: #fff;
  box-shadow: .1rem .1rem .4rem rgba(0, 0, 0, 0.30);
  cursor: pointer;
  border-radius: 3px;
}

.saveBnerBtn:hover {

  box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.30);
  transform: scale(1.02);
  transition: all .2s;
}

.saveBnerBtn:active {

  box-shadow: .1rem .1rem .4rem rgba(0, 0, 0, 0.30);
  transform: scale(1);
  transition: all .2s;
}




.bannerLoading {
  position: absolute;
  display: flex;
  /* gap: .3rem; */
  width: 80%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.40);


}

.iconLoadingBanner {
  position: absolute;
  display: flex;
  gap: .3rem;
  /* width: 100%; */
  /* height: 100%; */

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconLoadingBanner span {
  width: .4rem;
  height: 1rem;
  border-radius: 1px;
  box-shadow: .1rem .1rem .5rem .1rem rgba(0, 0, 0, 0.15);

}


.disable-text-selection {
  -moz-user-select: none;
  /* firefox */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE*/
  user-select: none;
  /* Standard syntax */
}

.trashPhoto {
  position: absolute;
  right: 0px;
  top: 2px;
  border-radius: .2rem;
  padding: .3rem;
  display: flex;
  justify-content: center;
}

.trashPhoto:hover {
  background-color: #cb2722;

}

.trashPhoto:hover path,
trashPhoto:hover rect {
  stroke: #fff
}

/* .delImageBoxbtn{
  position: absolute;

} */

.rtds-single-slide-styles {
  /* width: 500px !important; */
  /* height: 250px !important; */
  /* min-height: 22.5rem !important; */

  transition: transform 0.2s ease-out 0s;


}

.rtds-slider-styles {
  padding: 0 !important;
  margin: 0 !important;
  gap: 0 !important;

}

/* .rtds-single-slide-styles {
  height: 26rem !important;

}

.rtds-single-slide-styles img {
  width: 40rem !important;
  height: 22.5rem !important;
} */