/*
qqq

buttonFormContainer

*/

.decorBar {
  /* width: 100vw; */
  position: -webkit-sticky;
  /* background-color: var(--decor-background-color); */
  background: linear-gradient(to right top, var(--button-background-color), var(--button-background-color-linear));

  /* height: 4.5rem; */
  height: 3.12rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 1rem 0.2rem #0000003b;
  z-index: 1;
}

.containerEditMenuName {
  /* background-color: #ccb2b2; */
  width: 20rem;
  /* align-self:stretch; */
}

/* .decorBg {
  position: fixed;
  background: radial-gradient(49.55% 49.55% at 50% 25%, rgba(177, 176, 176, 0.55) 0%, rgba(217, 217, 217, 0) 100%);
  height: 10rem;
  width: 100%;
  top: 70vh;
  left: 0;
  opacity: .6;
} */

/* Decor +1 ==tranform -1 stickyBox +1 */
.formContainer {
  /* transform: translateY(-3rem); */
  /* transform: translateY(-4.5rem); */
  display: flex;
  gap: 2.5%;
  /* justify-content: flex-end; */

  padding-right: 2.5%;
  min-height: 92vh;
  margin-bottom: 10%;
}
.light-Pgrey {
  /* background-color: #e1e1e156; */
  background: linear-gradient(to right top, rgba(77, 123, 231, 0.2), rgba(141, 108, 226, 0.2));
}

/* .stickyBox1 {
  position: sticky;
  top: 3rem;
  height: 1rem;
  background-color: #000;

  z-index: 1500;
  outline: #000 solid 2rem;

} */
.stickyBox1 {
  position: sticky;
  top: 3.12rem;
  height: 0.38rem;
  background-color: #ddd;
  /* background-color: #f40000; */

  z-index: 2;
  outline: #ddd solid 0.1rem;
  /* box-shadow: .1rem .0 2rem rgb(221, 221, 221); */
}

.stickyBox {
  position: sticky;
  /* top: 4rem; */
  top: 3.5rem;
  padding: 0.5rem 2rem 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 100;
  border-radius: 0.2rem;
  background-color: #fff;
  /* border: #000 1px solid; */
}

.formMenu {
  background-color: #fff;
  width: 65%;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
  left: 50%;
  transform: translateX(-45%);
  /* transform: translateX(5%); */
  /* background-color: #50201e; */
  z-index: 0;
}

.layoutManu {
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.closeBtn:hover,
.closeBtn:active {
  color: var(--main-background-color);
  transform: scale(1.05);
  transition: all 0.2s;
  font-weight: 500;
}

.gridCat {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: #999 1px solid;
}

.noBoderder {
  border: none;
}

.flexIcoCat {
  width: 55%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.boxInputText {
  flex-grow: 1;
}
.flexIcoCatLang {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  gap: 0.5rem;
}

.alignJustCenterMe {
  align-items: center;
  justify-content: center;
}

.iconCatForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  /* background-color: #aaa; */
  /* border: #999 1px solid; */
  border-radius: 0.2rem;
  padding: 0.2rem;
  cursor: pointer;
}

/* ////////////////////////////////////////////////////////// */

.layoutManu1 {
  display: flex;
  width: 55%;
  flex-direction: column;
  gap: 1rem;
}

.layoutManu2 {
  display: flex;
  width: 45%;
  flex-direction: column;
  gap: 1rem;
}
.flex {
  display: flex;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  background-color: #aaa;
  border: #999 1px solid;
  border-right: none;
  border-radius: 0.2rem 0 0 0.2rem;
}

.inputTextFood {
  width: 100%;
  border: #999 1px solid;
  border-radius: 0 0.2rem 0.2rem 0;
  padding: 0.5rem 1rem;
  outline: none;
}

.inputTextFood:focus {
  box-shadow: 0.1rem 0.1rem 0.5rem #00000047;
  border: #aaa 1px solid;
}

.inputText {
  width: 100%;
  border: #999 1px solid;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  outline: none;
}

.fontCat {
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: 700;
}

.fontNormal {
  font-size: 1.1rem;
  line-height: 1rem;
}

.fontSmall {
  font-size: 1rem;
  line-height: 1rem;
}

.fontXSmall {
  font-size: 0.9rem;
  line-height: 1rem;
}

.italic {
  font-style: italic;
}

.inputText:focus {
  box-shadow: 0.1rem 0.1rem 0.5rem #00000047;
  border: #aaa 1px solid;
}

.testAreaD {
  padding-bottom: 3rem;

}

.testAreaR {
  padding-bottom: 2rem;
}

/* ///////////////////////////////// */

.iconPhoto {
  width: 3.2rem;
  padding: 0;
}

.flexPhoto {
  display: flex;
  align-items: center;
  width: 45%;
  flex-grow: 1;
}

.xxx {
  position: relative;
  height: 100%;

  display: flex;
}

.photoLoading {
  position: absolute;
  z-index: 2800;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  /* background-color: rgba(235, 7, 7, 0.817); */
}

.iconLoading {
  position: absolute;
  display: flex;
  gap: 0.3rem;
  /* width: 100%; */
  /* height: 100%; */

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconLoading span {
  width: 0.4rem;
  height: 1rem;
  border-radius: 1px;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.15);
}

@keyframes barloading {
  0% {
    transform: scaleY(0.3);
  }

  30% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleY(0.3);
  }
}

.barOne {
  background-color: #745f5f;
  animation: barloading 2s infinite;
  animation-delay: 0s;
  /* border: 2px solid #745f5f; */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.barTwo {
  background-color: #50201e;
  animation: barloading 2s infinite;
  animation-delay: 0.125s;
  /* border: 2px solid #662a2a; */
}

.barThree {
  background-color: var(--main-background-color);
  animation: barloading 2s infinite;
  animation-delay: 0.25s;
  /* border: 2px solid #8d1111; */
}

.labelPhoto {
  cursor: pointer;
  /* height: 100%; */
  /* width: 100%; */
}

.labelPhoto:hover ~ .delPhoto {
  opacity: 1;
  visibility: visible;
}

.delPhoto {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
  background: #000;
  width: 1.5rem;
  height: 1.5rem;

  cursor: pointer;
  color: var(--main-background-color);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.delPhoto:hover {
  opacity: 1;
  visibility: visible;
}

.photoFlex {
  position: relative;
  display: flex;
  width: 100%;
  gap: 0.2rem;
  outline: none;
}

.boxPhoto {
  width: 10rem;
  height: 5.6rem;
  /* width: 100%;
  height: 100%; */
  border-radius: 0.3rem;
  border: #eee 1px solid;
  box-shadow: 0.1rem 0.1rem 2rem 0.1rem rgba(0, 0, 0, 0.1);
}

.photoText {
  width: 100%;
  color: #999;
}

.inputPhoto {
  /* width: 0.1px;
  height: 0.1px; */
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.remarkPhoto {
  /* position: absolute; */
  /* bottom: 0; */
  /* right: 0; */
  align-self: flex-end;
  font-size: 0.7rem;
  font-style: italic;
  /* transform: translateY(100%); */
  color: #999;
  padding-left: 0.3rem;
  padding-bottom: 0.3rem;
  /* line-height: .6; */
}

/* ///////////////////////////////// */

.layoutManu0 {
  position: relative;
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);

  /* border: #5a5959 1px solid; */
}

.labelPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  background-color: #aaa;
  border: #999 1px solid;
  border-right: none;
  border-radius: 0.2rem 0 0 0.2rem;
}

/* ////////////////// */
.boxRemoveItem {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.removeItembtn {
  font-size: 0.7rem;
  padding: 0.3rem 0.5rem;
  /* height: 4rem; */
  /* background-color: #ffffff; */
  color: #aaa;
  border: #aaa 1px solid;

  display: flex;
  align-items: center;
  justify-content: center;
}

.removeItembtn:hover {
  transform: scale(1.01);
  transition: all 0.2s;
  color: var(--main-background-color);
  border: var(--main-background-color) 1px solid;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.removeItembtn:active {
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: all 0.2s;
}

/* /////////////////////////////////////////// */


.addItembtn {
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem;
  /* height: 4rem; */
  background-color: #ffffff;
  color: #cb2822cf;
  border: #cb2822cf 2px solid;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.addItembtn:hover {
  transform: scale(1.02);
  transition: all 0.2s;
  color: var(--main-background-color);
  border: var(--main-background-color) 2px solid;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

.addItembtn:active {
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: all 0.2s;
}

/* ////////////////// */


.dietOption {
  font-size: 0.8rem;
  font-style: italic;
  color: #444;
  line-height: 1;
}

.flexDiet {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: #444;
}

.hideCheckBox {
  opacity: 0;
  position: absolute;


}
.hideCheckBox + svg {
  background-color: #fff;
  border-radius: 50%;
  border: none;
  fill: none;
}
.hideCheckBox:checked + svg {
  fill: hsl(218, 37%, 38%);
}

/* input[type="checkbox"].checkbox1:checked+span {
  border-color: red;
  background-color: red;
} */

.main input:checked ~ .geekmark {
  background-color: green;
}

.main .geekmark:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* /////////////////////////////////// */

/* /////////////////////////////////// */

/* .buttonFormContainer{
display: flex;
} */

/* .newCatbtnBox { */
/* position: sticky; */
/* top: 4.7rem; */
/* z-index: 2500; */
/* } */

.saveBtnBox {
  display: flex;
  justify-content: center;
  position: sticky;
  width: 10rem;
  top: 90vh;
}

.saveBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: stretch;
  gap: 1rem;
  font-size: 0.9rem;
  padding: 0.6rem 1rem;

  /* height: 4rem; */
  background-color: var(--main-background-color);
  color: #fff;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  /* position: absolute; */
  /* top: 0; */
  border-radius: 3px;
}

.btnhover:hover {
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  transition: all 0.2s;
}

.btnactive:active {
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: all 0.2s;
}
