/* .sideBarTop{
  z-index: 3000;
} */

.sectionNavigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 3rem;
  width: 5vw;
  height: 100vh;
  background-color: var(--navbar-background-color);
  z-index: 1000;
  box-shadow: 0.1rem 0.1rem 1rem #0000003b;
  z-index: 3000;
  /* gap: 1rem; */
}

.section1 {
  /* height: 3.12rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--button-shadow);
  height: 3.12rem;
}

.extra {
  fill: #eee;
}

.section2 {
  display: flex;
  flex-direction: column;
  /* border-top: 1px solid #777; */
  border-bottom: 1px solid #777;
  gap: 0.5rem;
  padding: 1rem 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.iconBarcode {
  height: 3.12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 1rem;
  padding-top: 1rem; */
  transition: all 0.2s;
}
.iconBarcode:hover {
  transform: scale(1.1);
}

.qrCodeTabActive {
  transform: scale(1.1);


}
.qrCodeActive path {
  stroke: #7641e0 


}
.qrCodeActive rect {
  fill: #8457dd;


}

.myIconTab {
  /* background-color: #fff;*/
  /* border: 1px #fff solid; */
  display: flex;
  width: 3rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}
.myIconTab:hover {
  /* background-color: #4b4b4c; */
  transform: scale(1.1);
  box-shadow: 0.1rem 0.1rem 0.5rem var(--button-shadow);
}
.myIconTabActive {
  background: linear-gradient(to right top, var(--button-background-color), var(--button-background-color-linear));
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.35);
  transform: scale(1.1);

}

/* .qrCodeTabActive:hover {
  transform: scale(1.1);
} */

.menuActive rect {
  stroke: var(--icon-active-stoke);
}
.menuActive path {
  stroke: var(--icon-active-stoke);
  fill: var(--icon-active-stoke);
}

.activeTime circle {
  stroke: var(--icon-active-stoke);
}

.activeTime path {
  fill: var(--icon-active-stoke);
}

.activeLang g path {
  stroke: var(--icon-active-stoke);
}
.activeLang .activeLangPath {
  fill: var(--icon-active-stoke);
}

.bannerActive path {
  stroke: var(--icon-active-stoke);
}

.myIconBanner {
  width: 35px;
  height: 35px;

  stroke: #777;
}

.myIconSideBar {
  width: 35px;
  height: 35px;

  stroke: #777;
}

.myIconMd {
  width: 32px;
  height: 32px;

  stroke: #777;
}

.endSection {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
