.sectionNavigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 3rem;
  width: 5vw;
  height: 100vh;
  background: #3C3D3F;
  z-index: 1000;
  /* gap: 1rem; */
  ;
}

.section1 {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cb2722;
}

.iconBarcode {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.iconBarcode rect {
  stroke: #eee;
}

.extra {
  fill: #eee;
}

.section2 {
  display: flex;
  flex-direction: column;
  /* border-top: 1px solid #777; */
  border-bottom: 1px solid #777;
  gap: 1.5rem;
  padding: 1rem 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}



.endSection {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}


.myIconBanner {
  width: 40px;
  height: 40px;
  ;
  stroke: #777;
}

.myIconSideBar {
  width: 40px;
  height: 40px;
  ;
  stroke: #777;
}

.myIconSideBar path {
  fill: #777
}

.active {
  stroke: #eee;

}

.active path {
  fill: #eee
}





.activeBanner>.rs {
  stroke: #eee;

}

.activeBanner>.rf {
  fill: #eee
}

.activeBanner>.ps {
  stroke: #eee;
}

.activeBanner>.pf {
  fill: #eee
}

.activeBanner line {
  stroke: #eee;

}


.activeTime circle,
.activeTime line {
  stroke: #eee;
}

.myIconMd {
  width: 35px;
  height: 35px;

  stroke: #777;
}


.activeLang circle,
.activeLang path {
  stroke: #eee;

}

.activeLang .pf {
  fill: #eee;

}

